body {
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 5% 10%;
}
a {
	text-decoration: none;
	color:#000 

}
a:hover {
	color: #b5fed9;
	font-weight: 900;
	transition: 0.3s ease-in-out;
	text-decoration: none;
}
